<div id="sidebar">
    <a href="/"><h2>← return to the main site</h2></a>
    <img src="/images/blog.png" id="logo" alt="the text DRAKONIC blog in a green, glossy block."><br>
    Welcome! This part of the site has been designed to be a bit easier on the eyes, for more comfortable reading.
    <br><a href="/feed.xml">follow with RSS! <img src="/assets/rss.png" alt="rss icon" height="16px"></a>
    <div class="block">
    <h3>[ Special feeds ]</h3>
    <ul class="list">
    <li><a href="shorter">Shorter posts</a></li>
    <li><a href="images">Gallery</a></li>
    </ul>
    </div>

<a href="https://wetdry.world/@drakonic"><img src="/images/microblog.png" alt="Link to my fediverse profile (Mastodon)" title="Link to my fediverse profile (Mastodon)">
</a>

<br><br><br><br>
</div>
<script>
  function showhide(element) {
    if (element.nextElementSibling.style.display == "none") {
      element.nextElementSibling.style.display = "block"
    }
    else {
      element.nextElementSibling.style.display = "none"
    }
  }
</script>
