Let's chat! :) <br><br>
<a href="mailto:hello@drakonic.zone">email me</a>!<br><br>
<a href="https://matrix.to/#/@drakonic:matrix.org">message me on matrix!</a><br><br>
<a href="https://t.me/drakonicguy">message me on telegram!</a><br><br>
Art commission info: <a target="_blank" href="https://commissions.drakonic.zone">commissions.drakonic.zone</a>
<h3>Social</h3>
<a target  href="https://neocities.org/site/drakonic">my neocities profile</a><br><br>
<a target  href="https://wetdry.world/@drakonic">my fediverse profile</a><br><br>
<a target href="https://backloggd.com/u/drakonic">my backloggd profile</a><br><br>
<a target href="https://matrix.to/#/#swagcity:matrix.org">my matrix space</a><br><br>
<a href="https://toyhou.se/drakonic" target="">my toyhouse</a>
