<div id='funky-webring'>
    <script type="text/javascript" src="https://rocktype.neocities.org/funky-webring/onionring-variables.js"></script>
    <script type="text/javascript" src="https://rocktype.neocities.org/funky-webring/onionring-widget.js"></script>
</div>

<div id="transring">
    <script type="text/javascript" src="https://transring.neocities.org/onionring-variables.js"></script>
    <script type="text/javascript" src="https://transring.neocities.org/onionring-widget.js"></script>
</div>

<div id="draconic-widget" style="margin-left:auto;margin-right:auto;"></div>
<script src="https://www.cyberdragon.digital/rings/draconic/widget.js"></script>

<object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#00f200" type="image/svg+xml" style="width: 100px; height: 100px;"></object>
              <div id='ncring'>
<script type="text/javascript" src="https://neocreatives.neocities.org/onionring-variables.js"></script>
<script type="text/javascript" src="https://neocreatives.neocities.org/onionring-widget.js"></script>
</div>
                            