<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>welcome to gallery</h1>
{% for image in gallery.images %}
    <div class="gallery-image-wrapper">
        <a name="{{ image.name }}"></a>
        <a href="{{ image.name }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
            <img class="gallery-image" src="/images/gallery/thumbs/{{ image.name }}" />
        </a>
    </div>
{% endfor %}
</body>
</html>
